<%= form_with scope: :product, local: true do |form| %>
  <p>
    <%= form.label :Product %><br>
    <%= form.text_field :Product %>
  </p>
 
  <p>
    <%= form.label :SKU %><br>
    <%= form.text_field :SKU %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" value="">
    Receive Periodic (Daily) Updates
  </label>
</div>

<% end %>
